/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('assets/fonts/static/HankenGrotesk-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('assets/fonts/static/HankenGrotesk-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HankenGrotesk';
  src: url('assets/fonts/static/HankenGrotesk-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


:root {
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Background: */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* Circle: */
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);

  --paragraph-size: 18px
}

body {
  font-family: 'HankenGrotesk', sans-serif;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: flex-start;
  letter-spacing: 0.1px;
  font-size: var(--paragraph-size);
}

main {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(150, 150, 150, 0.2) 20px 20px 30px 0px;
  border-radius: 20px;
  max-width: 700px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0 50%;
  padding: 40px 35px;
  box-sizing: border-box;
}

.result {
  align-items: center;
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
  color: var(--white);
  border-radius: 0 0 25px 25px;
  row-gap: 25px;
}

.score-info {
  text-align: center;
  color: var(--light-lavender);
  line-height: 1.3em;
  font-size: 20px;
}

@media (min-width: 376px) {
  main {
    flex-direction: row;
    margin: 20px;
    height: 475px;
  }

  body {
    padding: 20px;
    justify-content: center;
  }

  .result {
    border-radius: 25px;
  }

  .section {
    padding: 40px 45px;
  }

  .score-info {
    font-size: var(--paragraph-size);
  }
}

button {
  border-radius: 30px;
  padding: 14px 60px;
  color: var(--white);
  background: linear-gradient(to bottom, var(--dark-gray-blue), var(--dark-gray-blue));
  transition: all 100ms ease-in-out;
  font-weight: 500;
  font-size: 16px;
}

button:hover {
  background: linear-gradient(to bottom, var(--light-slate-blue), var(--light-royal-blue));
}

.header-title {
  font-weight: bold;
  letter-spacing: 0.6px;
  font-size: 22px;
}

.result-header {
  text-align: center;
  color: var(--light-lavender);
}

.result-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  padding: 50px;
  background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
  row-gap: 5px;
  aspect-ratio: 1 / 1;
}

.result-resultado {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}

.score {
  font-size: 70px;
  font-weight: bold;
}

.total {
  color: var(--light-lavender);
  opacity: 0.6;
}

.score-text {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 0.8px;
}



.summary {
  row-gap: 25px;
}

.sum-header {
  color: var(--dark-gray-blue);
}

.reaction {
  color: var(--light-red);
  background-color: color-mix(in srgb, var(--light-red) 5%, transparent);
}

.memory {
  color: var(--orangey-yellow);
  background-color: color-mix(in srgb, var(--orangey-yellow) 5%, transparent);
}

.verbal {
  color: var(--green-teal);
  background-color: color-mix(in srgb, var(--green-teal) 5%, transparent);
}

.visual {
  color: var(--cobalt-blue);
  background-color: color-mix(in srgb, var(--cobalt-blue) 5%, transparent);
}

.scores {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.sum-result {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  justify-content: space-between;
  padding: 18px 13px;
  align-items: center;
  font-size: 16px;
}

.sum-result-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}

.sum-result-title {
  font-weight: 500;
}

.sum-result-score {
  display: flex;
  flex-direction: row;
  column-gap: 6px;
}

.total-score {
  color: var(--dark-gray-blue);
  font-weight: bold;
}

.total-total {
  color: black;
  opacity: 0.4;
  font-weight: bold;
}