/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
	/* - Green: hsl(75, 94%, 57%)

- White: hsl(0, 0%, 100%)

- Grey 700: hsl(0, 0%, 20%)
- Grey 800: hsl(0, 0%, 12%)
- Grey 900: hsl(0, 0%, 8%) */

	--green: hsl(75, 94%, 57%);
	--white: hsl(0, 0%, 100%);
	--grey700: hsl(0, 0%, 20%);
	--grey800: hsl(0, 0%, 12%);
	--grey900: hsl(0, 0%, 8%);

	--primary-color: #3498db;
	--secondary-color: #2ecc71;
	--font-size-large: 18px;
}

.main {
  font-family: 'Inter', sans-serif;
	background-color: var(--grey900);
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: var(--grey800);
	width: 300px;
	height: 500px;
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	border-radius: 8px;
	padding: 40px;
	color: white;
	align-items: center;
}

.card>img {
	border-radius: 50%;
	max-width: 80px;
}

.info {
	display: flex;
	flex-direction: column;
	row-gap: 4px;
	align-items: center;
}

button {
	width: 100%;
	border: 0;
	outline: 0;
	border-radius: 4px;
	background-color: var(--grey700);
	color: white;
	font-weight: 500;
	display: block;
	transition: all 200ms ease-in-out;
}

button:hover {
	background-color: var(--green);
	color: var(--grey700);
}