/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

@font-face {
  font-family: 'RedHatDisplay';
  src: url('assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Regular (400) */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/Red_Hat_Display/static/RedHatDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/Red_Hat_Display/static/RedHatDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/Red_Hat_Display/static/RedHatDisplay-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Black (900) */
@font-face {
  font-family: 'RedHatDisplay';
  src: url('./assets/fonts/Red_Hat_Display/static/RedHatDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

:root {
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 30px;
  box-sizing: border-box;
  height: 100%;
  row-gap: 25px;
}

.main-desc {
  line-height: 25px;
  color: var(--desaturated-blue);
  font-weight: 500;
}

body {
  font-family: 'RedHatDisplay', 'sans-serif';
  margin: 0;
  background-image: url(images/pattern-background-mobile.svg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 10px;
  font-size: 16px;
  background-color: var(--pale-blue);
}

@media (min-width: 376px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }

  .card-content {
    padding: 45px 55px;
  }

  .main-desc {
    padding: 0 20px;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  height: 694px;
  text-align: center;
  box-sizing: border-box;
  background-color: white;
}

main>img {
  width: 100%;
  /* Ajuste o tamanho da imagem conforme necessário */
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-title {
  font-size: 28px;
  font-weight: 900;
}

main>span {
  line-height: 1.6em;
}

.card-payment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px;
  background-color: var(--very-pale-blue);
  align-items: center;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.card-payment-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 20px;
}

.card-payment-plan {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.change-payment {
  text-decoration: underline;
  font-weight: 600;
  font-size: 14px;
  color: var(--bright-blue);
}

.change-payment:hover {
  text-decoration: none;
  color: color-mix(in srgb, var(--bright-blue), white 30%);
}

.plan-type {
  white-space: nowrap;
  font-weight: 900;
}

.plan-value {
  color: var(--desaturated-blue);
  font-weight: 500;
}

footer {
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.submit-btn {
  background-color: var(--bright-blue);
  color: white;
  font-weight: 600;
  height: 50px;
  width: 100%;
  border-radius: 14px;

  -webkit-box-shadow: 0 13px 40px -15px var(--bright-blue);
  -moz-box-shadow: 0 13px 40px -15px var(--bright-blue);
  box-shadow: 0 13px 40px -15px var(--bright-blue);
}

.submit-btn:hover {
  background-color: color-mix(in srgb, var(--bright-blue), white 30%);
}

.cancel-btn {
  font-weight: 600;
  color: var(--desaturated-blue);
}

.cancel-btn:hover {
  color: black;
}